{% extends 'admin/base.html' %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" value="{{ request.form['title'] or movie['title'] }}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="youtube_id">Youtube ID</label>
      <textarea name="youtube_id" id="youtube_id" class="form-control">{{ request.form['youtube_id'] or movie['youtube_id'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
