{% extends 'admin/base.html' %}
{% set active_page = 'index' %}

{% block content %}

{% if movies %}
    <table class="table">
        <tbody>
            <th scope="col">Title</th>
            <th scope="col">Youtube ID</th>
            <th scope="col">Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td><a href="https://www.youtube.com/watch?v={{ movie.youtube_id }}" target="_blank">{{ movie.youtube_id }}</a></td>
                    <td>{{ movie.created.strftime('%Y-%m-%d') }}</td>
                    <td><a class="btn btn-secondary btn-sm" href="{{ url_for('admin.edit', id=movie['id']) }}"><i class="fas fa-pencil-alt"></i></a></td>
                    <td>  
                        <form action="{{ url_for('admin.delete', id=movie['id']) }}" method="post">
                            <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Are you sure?');"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
There is nothing to show!
{% endif %}

{% endblock content %}
