<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'header_scripts.html' %}
    
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <title>
        {% if page_title %}
            {{ page_title }} - {{ config.SITE_NAME }}
        {% else %}
            {{ config.SITE_NAME }}
        {% endif %}
    </title>
  </head>
  <body>
    <div class="container">
        <div class="play-button text-center mt-5">
            <a style="font-family: 'Great Vibes', cursive; border-radius: 4em; padding: 2em;" class="btn btn-success" href="{{ url_for('player.index') }}"><span class="display-4"><i class="far fa-play-circle"></i> Puść jakiś film...</span></a>
        </div>
      {% include 'footer_scripts.html' %}
    </div>
  </body>
</html>
